# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Poetry
poetry.lock
.env
.venv/
dist/
build/
*.egg-info/

# Editor
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# LangChain Vector Store
scene_memory/